/* This is the profile header, not the nav header */
$facebook-blue: #4056A1;

header.header-background {
  height: 400px;
  width: 100%;
  display: flex;
  /* justify-content: flex-start; */
  padding-top: 50px;
  /* margin-top: 120px; */
  flex-direction: column;
  align-items: center;
  color: #ffffff;;
  background: url("../images/dark-wood.png");
}

#user-background {
  background-color: #4056A1;
}

@media only screen and (min-width: 1024px) {
  header.header-background {
    margin-top: 120px;
  }

}
