nav {
  height: 120px;
  width: 100%;
  /* background-color: #4056A1; */
  color: #ffffff;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  span {
    font-family: 'Bungee', cursive; 
    font-size: 36px;
  }
  
}

#tweeter-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.float-nav-element {
  top : 0;
  position:fixed;
}


/* The 'compose tweet' button at top right */
.write-text {
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}

/* Toggles visibility later in jQuery */
a.write-text.hide{
  visibility: hidden;
}

#compose-tweet-form {
  display: none;
}

/* switch to  desktop-mode */
@media only screen and (min-width: 1024px) {
  .float-nav-element {
    position: fixed;
    background-color: #4056A1;
  }

  #compose-tweet-form {
    display: block;
  }

}